*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/*Heading*/
h1{
    margin-bottom: 20px;
    font-size: 5rem;

}

/*Block*/
#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*Block value*/
#info div{
    padding: 3rem;
    background-color: blue;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}